<div class="container app-simon">
  <div class="row title">
    <h1 class="house-font">Simon</h1>
  </div>
  <hr>
  <div class="instructions">
    <p>Presiona los botones en el orden correcto seg&uacute;n simon te indique.</p>
    <p>El juego comenzar&aacute; en unos segundos...</p>
  </div>

  <div class="div game-container">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="500px" height="500px" viewBox="0 0 201.333 201.332" enable-background="new 0 0 201.333 201.332"
	 xml:space="preserve">
    <path fill="#2B2B2B" d="M201.333,100.666c0,55.597-45.072,100.666-100.665,100.666C45.071,201.332,0,156.263,0,100.666
      S45.071,0,100.668,0C156.26,0,201.333,45.069,201.333,100.666z"/>
    <path d="M198.333,100.666c0,53.94-43.729,97.666-97.665,97.666C46.728,198.332,3,154.606,3,100.666S46.728,3,100.668,3
      C154.604,3,198.333,46.726,198.333,100.666z"/>
    <g id="buttons-fill">
      <defs>
        <circle id="SVGID_3_" cx="100.666" cy="100.666" r="86.667"/>
      </defs>
      <clipPath id="SVGID_4_">
        <use xlink:href="#SVGID_3_"  overflow="visible"/>
      </clipPath>
      <rect class="simon-button button-yellow" x="3.246" y="100.666" clip-path="url(#SVGID_4_)" (click)="click('yellow')" [attr.fill]="yellowButtonColor" width="97.419" height="92.676"/>
      <rect class="simon-button button-blue" x="100.667" y="100.666" clip-path="url(#SVGID_4_)" (click)="click('blue')" [attr.fill]="blueButtonColor" width="97.419" height="92.676"/>
      <rect class="simon-button button-green" x="100.667" y="7.99" clip-path="url(#SVGID_4_)" (click)="click('green')" [attr.fill]="greenButtonColor" width="97.419" height="92.676"/>
      <rect class="simon-button button-red" x="3.246" y="7.99" clip-path="url(#SVGID_4_)" (click)="click('red')" [attr.fill]="redButtonColor" width="97.419" height="92.676"/>
    </g>
    <rect x="97.167" y="6.041" width="7" height="189"/>
    <rect x="6.167" y="97.166" width="189" height="7"/>
    <circle cx="100.666" cy="100.666" r="33.333"/>
    <circle fill="#4C4C4D" cx="100.666" cy="100.666" r="28.07" text="1"/>
    <text x="100.666" y="100.666" stroke="#FFFFFF" stroke-width="2px">{{ counter }}</text>
    </svg>
  </div>


</div>
